Options -MultiViews
RewriteEngine On

# Trimite toate requesturile catre index.php (routerul principal)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
